<div class="register-container">
  <div class="card register-card">
    <h2>Crear cuenta</h2>

    <form [formGroup]="registerForm" (ngSubmit)="submit()">

      <label>Nombre</label>
      <input
        type="text"
        formControlName="nombre"
        [class.input-error]="hasError('nombre')"
      />
      @if (hasError('nombre')) {
        <small class="error">El nombre es obligatorio</small>
      }

      <label>Apellido</label>
      <input
        type="text"
        formControlName="apellido"
        [class.input-error]="hasError('apellido')"
      />
      @if (hasError('apellido')) {
        <small class="error">El apellido es obligatorio</small>
      }

      <label>Correo electrónico</label>
      <input
        type="email"
        formControlName="email"
        [class.input-error]="hasError('email')"
      />
      @if (hasError('email')) {
        <small class="error">Ingresá un correo válido</small>
      }

      <label>Nombre de usuario</label>
      <input
        type="text"
        formControlName="username"
        [class.input-error]="hasError('username')"
      />
      @if (hasError('username')) {
        <small class="error">El usuario es obligatorio</small>
      }

      <label>Contraseña</label>
      <input
        type="password"
        formControlName="password"
        [class.input-error]="hasError('password')"
      />
      @if (hasError('password')) {
        <small class="error">
          Mínimo 8 caracteres, una mayúscula y un número
        </small>
      }

      <label>Repetir contraseña</label>
      <input
        type="password"
        formControlName="repetirPassword"
        [class.input-error]="hasError('repetirPassword')"
      />
      @if (hasError('repetirPassword')) {
        <small class="error">Debés repetir la contraseña</small>
      }

      <label>Fecha de nacimiento</label>
  <input
    type="date"
    formControlName="fechaNacimiento"
    [max]="maxDate"
    [class.input-error]="hasError('fechaNacimiento')"
  />
      @if (hasError('fechaNacimiento')) {
        <small class="error">La fecha es obligatoria</small>
      }

      <label>Descripción</label>
      <textarea rows="4" formControlName="descripcion"></textarea>

      <label>Imagen de perfil</label>
      <input type="file" accept="image/*" (change)="onFileSelected($event)" />

      @if (errorMessage()) {
        <p class="error">{{ errorMessage() }}</p>
      }

      <button type="submit" [disabled]="loading()">
        {{ loading() ? 'Registrando...' : 'Crear cuenta' }}
      </button>
    </form>

    <button type="button" routerLink="/login">
  Ya tengo una cuenta
</button>
  </div>
</div>