<nav class="navbar">

  <div class="logo">
    UTNgram
  </div>

  <div class="links">

    <a routerLink="/publicaciones">
      Publicaciones
    </a>

    <a routerLink="/perfil">
      Mi Perfil
    </a>

    @if(isAdmin){

      <a routerLink="/dashboard-usuarios">
        Usuarios
      </a>

      <a routerLink="/dashboard-estadisticas">
        Estadísticas
      </a>

    }

    <span>
      {{ user?.nombre | capitalize }}
    </span>

    <button
appHoverEffect
(click)="logout()">
Cerrar sesión
</button>
  </div>

</nav>