<div class="post-card">

  @if(post.imagenUrl){

    <img
      [src]="post.imagenUrl"
      class="post-image"
    >

  }

  <div class="post-body">

    <h3>
      {{ post.titulo }}
    </h3>

    <p>

      {{ post.descripcion }}

    </p>

    <small>

      👤 {{ post.autorNombre }}

    </small>

    <div class="likes">

      ❤️ {{ post.likes.length }}

    </div>

    <div class="buttons">

      <button
        [routerLink]="['/publicaciones', post._id]"
      >
        Ver detalle
      </button>

      <button
        (click)="like.emit()"
      >
        ❤️ Like
      </button>

      <button
        (click)="unlike.emit()"
      >
        💔 Quitar Like
      </button>

      @if(post.autorId === user._id){

        <button
          (click)="delete.emit()"
        >
          🗑 Eliminar
        </button>

      }

      @if(post.imagenUrl && post.autorId === user._id){

        <button
          (click)="removeImage.emit()"
        >
          📷 Eliminar foto
        </button>

      }

    </div>

  </div>

</div>