<div class="post-card">

  @if(post.imagenUrl){

    <div class="image-container">

      <img
        [src]="post.imagenUrl"
        class="post-image"
      >

    </div>

  }

  <div class="post-body">

    <div class="post-header">

      <div>

        <h3>
          {{ post.titulo }}
        </h3>

        <small>
          👤 {{ post.autorNombre }}
        </small>

      </div>

      <div class="likes">
        ❤️ {{ post.likes.length }}
      </div>

    </div>

    <p class="description">

      {{ post.descripcion }}

    </p>

    <div class="buttons">

      <button
        class="primary"
        [routerLink]="['/publicaciones', post._id]"
      >
        👁 Ver detalle
      </button>

      <button
        class="success"
        (click)="like.emit()"
      >
        ❤️ Like
      </button>

      <button
        class="danger"
        (click)="unlike.emit()"
      >
        💔 Quitar Like
      </button>

      @if(post.autorId === user._id){

        <button
          class="delete"
          (click)="delete.emit()"
        >
          🗑 Eliminar
        </button>

      }

      @if(post.imagenUrl && post.autorId === user._id){

        <button
          class="warning"
          (click)="removeImage.emit()"
        >
          📷 Eliminar foto
        </button>

      }

    </div>

  </div>

</div>