<app-navbar />
<!--
<div class="container">
  <h1>Mi Perfil</h1>

  @if (user) {

 <div class="profile-header">

      <img
        class="profile-image"
        [src]="user.imagenPerfil"
        alt="Foto de perfil"
      />

      <div class="profile-info">

        <h2>
          {{ user.nombre }}
          {{ user.apellido }}
        </h2>

        <span class="profile-role">
          {{ user.perfil }}
        </span>

      </div>

    </div>

    <div class="profile-details">

      <div class="detail-card">
        <strong>Email</strong>
        {{ user.email }}
      </div>

      <div class="detail-card">
        <strong>Usuario</strong>
        {{ user.username }}
      </div>

      <div class="detail-card">
        <strong>Fecha de nacimiento</strong>
        {{ user.fechaNacimiento }}
      </div>

      <div class="detail-card">
        <strong>Descripción</strong>
        {{ user.descripcion }}
      </div>

    </div>

<h2>Mis últimas publicaciones</h2>

@if (misPosts().length === 0) {

  <p>No tenés publicaciones.</p>

} @else {

  <div class="posts-grid">

    @for (post of misPosts(); track post._id) {

      <div class="post-card">

        <h4>{{ post.titulo }}</h4>

        <p>{{ post.descripcion }}</p>

        <p>
          ❤️ {{ post.likes.length }}
        </p>

      </div>

    }

  </div>

}

  } @else {

    <p>No hay usuario logueado</p>

  }

  <button routerLink="/publicaciones">
    Volver
  </button>

</div> -->

